* {
  font-family: "Markazi Text", "Karla", serif;
}

body {
  margin: 0;
  padding: 0;
  margin-top: -22px;
}

.burger-icon {
  margin-top: 1.5rem;
}

.hover-effect:hover {
  background-color: #f4ce14;
  transition: 0.25s;
}

.nav-image {
  max-height: 4rem;
  margin-top: 0.7rem;
  margin-left: -1.25rem;
}

.navbar-menu {
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}

.navbar-menu > li,
.navbar-menu > a,
.navbar-menu > Link {
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

