* {
  font-family: "Markazi Text", "Karla", serif;
}

body {
  margin: 0;
  padding: 0;
  margin-top: -22px;
}

.burger-icon {
  margin-top: 1.5rem;
}

.hover-effect:hover {
  background-color: #f4ce14;
  transition: 0.25s;
}

.nav-image {
  max-height: 4rem;
  margin-top: 0.7rem;
  margin-left: -1.25rem;
}

